body{
    padding-top: 50px
}
.navbar-header-with {
    width: 211px;
}
#navbar-brand-project{
    margin-left: 15px;
}

.content-left{
    background-color:#1e282c;
    min-height: 550px;
    font-size: 16px;
}
/*控制菜单箭头*/
.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
    content: "\e114";
}

.nav-header > span.glyphicon-chevron-toggle:before {
    content: "\e113";
}
.secondmenu a {
    font-size: 14px;
    color: #4A515B;
    text-align: left;
}
.sidebar {
    top: 10px;
    bottom: 0;
    left: -12px;
    padding: 15px;
    background-color: white;
}

