{% extends "base.html" %}
{% load static %}
{% block css %}
  {% include 'loading.html' %}
  <style>
     table a:link{
      text-decoration: none;
      font-size: 18px;
      }
    .select_top{
     margin-top: 40px;
    }
    .modal_label{
    font-weight: normal !important;
    }
  </style>
{% endblock %}
{% block content %}
    <div class="host-password-manage">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#change-password" id="first-tab" role="tab" data-toggle="tab" aria-controls="change-password" aria-expanded="true">修改主机密码</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="change-password" aria-labelledby="first-tab">
            <div class="list-group select_top">
              <li  class="list-group-item list-group-item-heading list-group-item-success"><h1>修改所有主机系统存在用户密码</h1></li>
              <button type="button" class="list-group-item list-group-item-danger">ALL(root,webapp,bizlog)</button>
              <button type="button" class="list-group-item list-group-item-warning">root</button>
              <button type="button" class="list-group-item list-group-item-info">webapp</button>
              <button type="button" class="list-group-item list-group-item-success">bizlog</button>
            </div>
            <div class="my-table-div"></div>
          </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-exec">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body text-center">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/nomal-splite-page.js' %}"></script>
  <script>
    $("#hostSettings").collapse('show');
    // 定义全局数据变量
    var data;
    function createTable(mes){
        var tr_mess = '<tr><td>'+mes[0]+'</td><td>'+mes[1]+'</td><td>'+mes[2]+'</td><td>'+mes[3]+'</td></tr>';
        return tr_mess
    }
    // 绑定修改秘密的click事件
    $("button.list-group-item").click(function () {
        var usernmae=$(this).text().trim();
        $("#modal-exec .modal-body").empty();
        $.ajax({
            url:"{% url 'Opsys:HostChangePassword' %}",
            type: "POST",
            datatype: "json",
            beforeSend:function () {
                $("#modal-exec .modal-body").addClass("loading01");
                $("#modal-exec").modal('show');
            },
            data:{'username': usernmae},
            success:function (args) {
                if(args.result){
                    // 删除loading样式
                    $("#modal-exec .modal-body").removeClass("loading01");
                    // 添加一个下载附件按钮
                    $("#modal-exec .modal-body").append(
                        '<a class="btn btn-primary" href="'+"{% url 'Opsys:HostChangePassword' %}" + '?filename='+args.filename +'">下载密码文件</a>'
                    );
                    // 赋值
                    data = args.data;
                }else {
                    var url="{% url 'Opsys:error' %}"+ '?error_mess='+args.error_mess.toLocaleString();
                    $(location).prop('href',url);
                }
            }
        });
    });
    $("#modal-exec .modal-body").on('click','a',function () {
        $("#modal-exec").modal('hide');
        $(".my-table-div").empty();
        $(".my-table-div").append(
            '<table class="table table-bordered table-condensed bg-info" id="passwd-table"><thead><tr><td>IP地址</td><td>用户名</td><td>修改后密码</td><td>修改结果</td></tr></thead><tbody></tbody></table>'
        );
        normalcreatetbody('passwd-table',data,20,createTable);
    })
  </script>
{% endblock %}