{% extends 'base.html' %}
{% load static %}
{% block css %}
  <style>
   .btn-margin {
       margin-top: 5px;
       margin-left: 5px;
    }
   table a:link{
      text-decoration: none;
      font-size: 18px;
    }
   .modal_label{
      font-weight: normal !important;
    }
   .tab-top{
      margin-top: 40px;
    }
  </style>
{% endblock %}
{% block content %}
    {% include 'host-application-apply-top.html' %}
    <div>
    <table class="table table-bordered table-hover table-condensed tab-top text-center" id="order-host-power-tab">
        <thead class="bg-danger">
            <tr>
                <td class="hide">id</td>
                <td>用户名</td>
                <td>申请服务</td>
                <td>申请时间</td>
                <td>审批状态</td>
                <td ><li class="fa fa-sliders text-info"></li></td>
                <td>审批</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
    {% include 'modal-md-close.html' %}
{% endblock %}
{% block script %}
  <script src="{% static 'js/nomal-splite-page.js' %}"></script>
  <script>
    $("#hostpowerMange").collapse('show');
    $("#host-power-apply-verify").addClass("active");
    // 定义一个全局变量用于存放所有的服务信息
    var data;
    // 定义一个用于分页的函数
    function create_table_tr(mes){
        mess = '<tr><td class="hide">'+mes['id']+'</td><td>'+ mes['username']+'</td><td>'+mes['service_name']+'</td><td>'+mes['apply_time']+'</td><td>';
        if (mes['is_agree'] == null){
            mess = mess+'待审批'
        }else if (mes['is_agree'] ===0){
            mess = mess+ '审批成功'
        }else if (mes['is_agree'] ===1){
            mess = mess+ '拒绝'
        }else if (mes['is_agree'] === 2){
            mess = mess + '授权失败'
        }
        mess = mess+'</td><td><a class="fa fa-eye text-info"  href="jacascript:void(0)"></a></td><td><a class="fa fa-check-square-o"  href="jacascript:void(0)" ></a><a class="fa fa-close text-danger"  href="jacascript:void(0)" ></a></td></tr>';
        return mess
    }
    $.ajax({
        url: "{% url 'Opsys:HostPowerApplyVerify' %}",
        type: "GET",
        dataType: "json",
        async: false,
        success: function (args) {
            if (args.result){
                data = args.data;
            }else {
                var url="{% url 'Opsys:error' %}"+ '?error_mess='+args.error_mess.toLocaleString();
                $(location).prop('href',url);
            }
        }
    });
    // 生成分页符表格
    normalcreatetbody("order-host-power-tab",data,20,create_table_tr);
    // 绑定详细查看eye的click事件
    $("#order-host-power-tab tbody").on("click",".fa-eye",function () {
        $("#modal-md-close .modal-title").text("详情");
        // 清空table里面表格
        $("#modal-md-close tbody").empty();
        // 获取当前id对应的数据
        var id = $(this).parent().siblings().eq(0).text().trim();
        $.each(data,function (i,value) {
            if(value['id'] == id){
                $(".modal-body tbody").append(
                    '<tr><td>开始时间</td><td>'+value['start_time']+'</td><tr>'+
                    '<tr><td>结束时间</td><td>'+value['end_time']+'</td><tr>'+
                    '<tr><td>申请原因</td><td>'+value['apply_reason']+'</td><tr>'+
                    '<tr><td>审批结果</td><td>'+value['apply_result']+'</td><tr>'
                );
                return false
            }
        });
        $("#modal-md-close").modal('show');
    });
    // 绑定审批按钮
    $("#order-host-power-tab tbody").on("click", ".fa-check-square-o",function () {
        var id=$(this).parent().siblings().eq(0).text().trim();
        $.each(data, function (i,oder_map) {
            if(oder_map['id'] == id){
                var username = oder_map['username'];
                var service_arry = oder_map['service_name'].split(',');
                $.ajax({
                    url:"{% url 'Opsys:HostPowerApi' %}",
                    type: "POST",
                    dataType: "json",
                    data:{'data':JSON.stringify({'username':username,'service_name_list': service_arry,'start_time':oder_map['start_time'],'end_time':oder_map['end_time']})},
                    success:function (args) {
                        var is_agree;
                        if (args.result){
                            is_agree = 0;
                        }else {
                            is_agree = 2;
                        }
                        // 提交状态到order表单
                        $.ajax({
                            url: "{% url 'Opsys:HostPowerApplyVerify' %}",
                            type: "POST",
                            dataType: "json",
                            data: {'id':id,'is_agree': is_agree,'result': JSON.stringify(args)},
                            success:function (args) {
                                window.location.reload();
                            }
                        });
                    }
                });
                return false;
            }
        });

    });
    // 绑定拒绝审批按钮
    $("#order-host-power-tab tbody").on("click", ".fa-close", function () {
        // 拒绝授权功能
        var id=$(this).parent().siblings().eq(0).text().trim();
        $.ajax({
            url:"{% url 'Opsys:HostPowerApplyVerify' %}",
            type: "POST",
            dataType: "json",
            data: {'id':id,'is_agree':1,'result':"拒绝不同意"},
            success: function (args) {
                window.location.reload();
            }
        });
    });

  </script>
{% endblock %}